.form {
  width: 400px;
  text-align: left;
}


.form, .trafficInfo, {
  max-width: 95%;
  margin: auto;
  background-color: #ede08e;
  padding: 20px;
  font-family: $font;
  border-radius: 1px;
}

input, select, textarea, label {
  width: 300px;
  max-width: 95%;
  margin: 2px;
  padding: 2px 2px 2px 6px;
  font-family: $font;
  border-radius: 1px;
}

input[type=checkbox], input[type=radio] {
  display: inline;
  width: 25px;
  text-align: left;
  font-family: $font;
}

#submitButton {
  margin: 10px;
}
