.navbar-default {
    background-color: #303030;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav>li.dropdown{
  background-color: #303030;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #faf7eb;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.logo {
  padding-top: 8px;
}

.logoImg {
  width: 115px;
}

.logInOut {
  margin-top: 11px;
  background-color: transparent;
}
