// Optional CSS Reset
// html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a {
// 	padding: 0;
// 	border: 0;
// 	margin: 0;
// 	font-size: 100%;
// 	font: inherit;
// }

$bodyColor: #333;
$navColor: #fff;

html, body, td, table {
  margin: auto auto;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}

body {
  background-color: #dcb500;
}

h1, h2, h3, h4 {
  font-size: 100%;
  font-family: verdana, sans-serif;
}

.active {
  color: #fff;
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Catamaran:100|Quicksand');
@import '_navbar';
@import '_form';

.login {
  margin-top: 12px;
}

.signin {
  color: white;
  display:inline;
}
.signin:hover {
  color: white;
}

.userInput {
  width:130px;
}

// This code removes the arrow buttons from number inputs
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.boldFont {
  font-style: italic;
  text-decoration: underline;
}

.navLog {
  margin-top: 10px;
}

.trafficSlot {
  width: 60px;
  text-align: center;
  margin: 0;
}
.navbar-default .navbar-nav>li>a {
  color: $navColor;
}

.navbar-default .navbar-nav>li>a:hover {
  color: $navColor;
}

.navbar-default .navbar-nav>li>a:focus {
  color: $navColor;
  background-color: #3f3f3f;
}

.navbar-default .navbar-nav>li:hover {
  background-color: #3f3f3f;
}
