$navColor: #fff;
$font-color: #585858;
$font: currier, sans-serif;

body, html, table, td {
  text-align: center;
  font-family: $font;
  color: $font-color;
}

button {
  border-radius: 5px;
  border-color: black;
  background: #f7edd1;
  border-width: thin;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', verdana, sans-serif;
  margin-bottom: 25px;
  font-weight: bold;
}

h5 {
  font-size: 120%;
  margin-bottom: 5px;
}

html {
  background: #faf7eb;
  height:0%;
  text-align: center;
}

input {
  color: #333;
}

// This code removes the arrow buttons from number inputs
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table, td {
  margin: auto auto;
  padding: 8px 0;
}

tr {
  border-bottom: 1px solid #999;
}

@import '_navbar';
@import '_form';

#center{
  text-align: center;
  font-weight: bold;
}

#prodContent {
  margin: 0 auto 40px;
  border-bottom: 1px solid $font-color;
  width: 450px;
  max-width: 95%;
  font-weight: lighter;
}

.active {
  color: #fff;
}

.boldFont {
  font-style: italic;
  text-decoration: underline;
  font-weight: bolder;
}

.button {
  padding: 5px 8px;
  margin: 8px auto;
  border-radius: 3px;
  border: 1px solid #e9d67c;
  background-color: #f9e9bf;
  color: $font-color;
}

.button:hover {
  box-shadow: 0 0 1px 0 #7d7c7a;
}

.center {
  margin: 32px auto 12px;
}

.changeActiveStatus{
  background-color: transparent;
  border: 0;
  padding: 0;
}

.clearSearch {
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

.clearSearch:focus {
  outline: none;
}

.clearSearch:hover {
  text-decoration: underline;
}

.contact {
  margin-bottom: 20px;
}

.contractsPending {
  width: 450px;
  max-width: 95%;
  margin: 5px auto 15px;
  text-align: left;
  font-family: $font;
}

.cmd {
  margin: 30px auto;
}

.createClient:focus, .createContract:focus {
  outline: none;
}

.createClient, .createProduction, .createContract,
.editable-input, .productionInfo, .reportingInputs, .results {
  border: none;
  width: 450px;
  max-width: 98%;
  padding: 10px;
  margin-bottom: 5px;
  font-size: medium;
  text-align: left;
}

.dropdown-menu {
  text-align: center;
}

.editable-input, .editable-text, .editable-wrap {
  width: 95%;
  margin-bottom: 10px;
}

.editClient {
    margin-left: 10px;
}

.editClientForm {
    text-align: left;
    font-size: 110%;
}

.editor {
  margin: 25px auto;
  width: 100%;
}

.listOfContracts {
  border: 1px solid #e8e1e1;
  border-radius: 5px;
  background-color: #ebebeb;
  cursor: pointer;
  padding: 8px 12px;
}

.listOfContracts:focus {
  outline: none;
}

.listOfContracts:hover {
  box-shadow: 0 0 1px 0 #7d7c7a;
}

.logButton {
  border-radius: 5px;
  border-color: black;
  background: #fff;
  border-width: thin;
  color: #333;
}

.login {
  margin-top: 10px;
}

.logo {
  margin-top: -15px;
  height: 45px;
}

.md-calendar-day-header {
  background: #fbf3d2;
}

.md-datepicker-is-showing {
  background: #faf7eb;
}

.navbar {
  border-bottom: 3px solid #dcb500;
}

.navbar-default .navbar-nav>li>a, .dropdown-menu>a {
  color: $navColor;
}

.navbar-default .navbar-nav>li>a:hover,  {
  color: $navColor;
}

.navbar-default .navbar-nav>li>a:focus, .dropdown-menu>a:focus {
  color: $navColor;
  background-color: #3f3f3f;
}

.navbar-default .navbar-nav>li:hover, .dropdown-menu>:hover{
  background-color: #3f3f3f;
  color: $navColor;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu,
.navbar-default .navbar-nav .open .dropdown-menu::after,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #303030;
    color:#ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: $navColor;
}

.navLog {
  margin-top: 10px;
}

.pendingContractHeading {
  width: 450px;
  max-width: 95%;
  margin: 20px auto 17px;
  padding-bottom: 6px;
  text-align: left;
  font-family: $font;
  border-bottom: 1px solid #7d7c7a;
  font-weight: lighter;
}

.reports {
margin-bottom: 10px;
}

.reportTable {
  margin-top: 45px;
  width: 95%;
  max-width: 600px;
  min-width: 450px;
  text-align: left;
}

.shareLine {
  width: 48%;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  font-size: medium;
  text-align: left;
  display: inline;
}

.searchInput {
  padding: 10px 10px 10px 43px;
  font-size: medium;
  line-height: 90%;
  width: 500px;
  max-width: 100%;
  border: 1px solid #eeebc2;
  margin-bottom: 4px;
  color: $font-color;
  background-image: url('../assets/search_icon.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 35px 25px;
}

.searchResults {
  width: 500px;
  max-width: 95%;
  margin: 15px auto 15px;
  text-align: left;
  max-width: 95%;
  background-color: #fbf3d2;
  border: 1px solid #f4eab7;
  padding: 0 10px 9px;
  border-radius: 2px;
}

.searchViewDiv {
  text-align: left;
  width: 500px;
  max-width: 95%;
  margin: 15px auto 30px;
}

.selectClient {
  width: 450px;
  max-width: 95%;
  min-width: auto;
  border: none;
  border-radius: 2px;
  height: 27px;
  background-color: #fff;
  color: $font-color;
  font-size: medium;
}

.selectClient:focus, .stateSelect:focus {
  outline: none;
}

.signin {
  color: white;
  display:inline;
}

.signin:hover {
  color: white;
}

.stateSelect {
  width: 100px;
  min-width: auto;
  border: none;
  border-radius: 2px;
  height: 39px;
  background-color: #fff;
  color: $font-color;
  font-size: medium;
}

.successMessage {
  padding: 10px 15px;
  margin: 20px auto;
  border-radius: 3px;
  border: 1px solid #dcb500;
  background-color: #f9e9bf;
  max-width: 95%;
  width: 400px;
}

.textToStandOut {
  font-weight: bold;
}

.trafficInfo {
  background-color: #fbf3d2;
  width: 450px;
  max-width: 95%;
  margin: 25px auto 25px;
  border: 1px solid #f4eab7;
}

.trafficSlot {
  width: 60px;
  text-align: center;
  margin: 0;
}

.trafficViewCell {
  padding: 5px;
}

.userInput {
  width:130px;
}

.yourOtherOtherLeft {
  text-align: left;
  margin: 3px 0 20px 20px;
}

.zip {
  width: auto;
}
