<div ng-show="userData[0].permission == 'Administration' || 'View All'">
<h3><strong>Add A New Employee</strong></h3>
<br>
Name: <input type="text" class="userInput" ng-model="newUserName"/>
Email: <input type="email" class="userInput" ng-model="newUserEmail"/>
Password: <input type="password" class="userInput" ng-model="newUserPassword"/>
Permission Level: <select ng-model="auth" ng-options="authLevel as authLevel.permission for authLevel in authLevels" width="30">
  <option value="" ng-if="auth">Select Permission Level</option>
</select>
<button ng-click="createNewUser()">Create New User</button>
<br>
<div><center><h1><strong>List of Current Users</strong></h1></center>
  <p ng-repeat='user in users'>
    <br>
    Name: {{user.name}} Email: {{user.email}} Permission Level: {{user.permission}} Active: {{user.active}}
    <button ng-click='deleteUser()'>Delete</button>
  </p>
</div>
</div>
<!-- <div ng-show="userData[0].permission !== 'Administration'">
  404
</div> -->
