<div ng-show="userData[0].permission == 'Administration' || 'View All'">
  <h3><strong>Add A New Employee</strong></h3>
  <br><br>
  <strong>Name:</strong> <input type="text" class="userInput" ng-model="newUserName"/>
  <strong>Email:</strong> <input type="email" class="userInput" ng-model="newUserEmail"/>
  <strong>Password:</strong> <input type="password" class="userInput" ng-model="newUserPassword"/>
  <strong>Permission Level:</strong> <select ng-model="auth" ng-options="authLevel as authLevel.permission for authLevel in authLevels" width="30">
    <option value="" ng-if="auth">Select Permission Level</option>
  </select> &nbsp;&nbsp;
  <button ng-click="createNewUser()">Create New User</button>
  <br><br>
  <div><center><h3><strong>Employee List</strong></h3></center>
    <div class="contract">
      <table class="table">
        <thead>
          <tr>
            <th>Permission Level</th>
            <th>Employee Name</th>
            <th>E-mail</th>
            <th>Active</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <div>
            <tr ng-repeat='user in users.slice().reverse()'>
              <td>{{user.permission}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td><button class='changeActiveStatus' ng-click='changeActiveStatus()'>{{user.active}}</button></td>
              <td><button ng-click='deleteUser()'>Delete</button></td>
            </tr>
          </div>
        </tbody>
      </table>
    </div>

  </div>
  <!-- <div ng-show="userData[0].permission !== 'Administration'">
  404
</div> -->
