<div ng-show="userData[0].permission == 'Production' || 'View All'">
  <h3><strong>Production</strong></h3>
  <br>
  <div id = "content">
    <table id = "editor" class = "export-table" width = "75%">
      <tr ng-init="getProductions()">
        <th width = "auto">Start Date</th>
        <th width = "auto">End Date</th>
        <th width = "auto">Underwriter Name</th>
        <th width = "auto">Client Name</th>
        <th width = "auto">Client Contact</th>
        <th width = "auto">Client Phone</th>
        <th width = "auto">Client Address</th>
        <th width = "auto">Event Name</th>
      </tr>
      <tr ng-repeat="production in productions">
        <td>{{production.start_date}}</td>
        <td>{{production.end_date}}</td>
        <td>{{production.uw_name}}</td>
        <td>{{production.name}}</td>
        <td>{{production.contact}}</td>
        <td>{{production.phone}}</td>
        <td>{{production.address}}</td>
        <td>{{production.event_name}}</td>
        <td><input type = "radio" ng-click="retrieveProdId(production.id)"></td>
      </tr>
    </table>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="form">
    <form class="production">
      <input class="createProduction" type="text" name="event" ng-model="event" value="" placeholder="Event">
      <input class="createProduction" type="text" name="voice_talent" ng-model="talent" value="" placeholder="Voice Talent">
      <input class="createProduction" type="text" name="producer" value="" ng-model="producer" placeholder="Producer" ><br>
      <input class="createProduction" type="radio" name="spot_length" ng-model = "spot_length" value=":15">15-sec
      <input class="createProduction" type="radio" name="spot_length" ng-model = "spot_length" value=":30">30-sec
      <input class="createProduction" type="radio" name="spot_length" ng-model = "spot_length" value=":60">60-sec
    </form>
    <form class="production2">
      <input class="createProduction" type="text" name="cart_number" ng-model="cart_number" value="" placeholder="Cart #">
      <input class="createProduction" type="text" name="who" value="" ng-model="who" placeholder="Who">
      <input class="createProduction" type="text" name="where" value="" ng-model="site" placeholder="Where">
      <input class="createProduction" type="text" name="for_more_info" ng-model="why" value="" placeholder="For More Info">
      <textarea class="createProduction" name="what" rows="8" cols="30" ng-model = "what" placeholder="What"></textarea>
      <input class="button" type="button" name="submitProd" value="Submit" ng-click="sendProduction()">
    </form>
  </div>

</div>
<!-- <div ng-show="userData[0].permission !== 'Production'">
  404
</div> -->
