<div ng-show="userData[0].permission == 'Production' || 'Administration' || 'View All'">
  <h3>Production</h3>
  <div class="successMessage" ng-show="productionSaved">Production has been submitted</div>
  <div id = "prodContent">
    <table class = "editor" class = "export-table">
      <tr ng-init="getProductions()">
        <th width = "auto">Event</th>
        <th width = "auto">Start</th>
        <th width = "auto">UW</th>
        <th width = "auto">Client</th>
      </tr>
      <tr ng-repeat="production in productions">
        <td><input type="radio" ng-click="retrieveProdId(production.contract_id)"></td>
        <td>{{production.event_name}}</td>
        <td>{{production.start_date}}</td>
        <td>{{production.uw_name}}</td>
        <td>{{production.client_name}}</td>
      </tr>
    </table>
  </div>
  
</div>
<!-- <div ng-show="userData[0].permission !== 'Production'">
  404
</div> -->
