<div ng-show="userData[0].permission == 'Administration' || 'View All'">
  <h3>Monthly Reporting</h3>
  <form class="form reportForm">
    <div class="reportLabel">
      <label for="startDate">Start Date</label><br>
    </div>
    <md-datepicker ng-model="startDate" md-placeholder="Select Date"></md-datepicker>
    <div class="reportLabel">
      <label for="endDate">End Date</label><br>
    </div>
    <md-datepicker ng-model="endDate" md-placeholder="Select Date"></md-datepicker>
    <input class="button center" type="button" name="getReports" value="View Report" ng-click="getReports()">
  </form>
  <div ng-show="reportSubmit">
    <table class="reportTable">
      <tr>
        <th>Cart #</th>
        <th>Start</th>
        <th>End</th>
        <th>Client</th>
        <th>Underwriter</th>
        <th>Cost</th>
      </tr>
      <tr class = "reports" ng-repeat="report in reports">
        <td>{{report.cart_number}}</td>
        <td>{{report.start_date | date : 'MM/dd/yyyy'}}</td>
        <td>{{report.end_date | date : 'MM/dd/yyyy'}}</td>
        <td>{{report.clients_name}}</td>
        <td>{{report.uw_name}}</td>
        <td>${{report.total_cost}}</td>
      </tr>
    </table>
    <div id = "editor"></div>
    <button ng-click="getReport()" class="cmd">Generate PDF</button>
  </div>
</div>
