
<h3>Monthly Reporting</h3>

<img src="assets/kmoj.png" style="width:60px;" alt="logo">
<p>2123 W. Broadyway, Suite 200<br>
  Minneapolis, MN 55411<br>
  Phone: (612)377-0594<br>
  Fax: (612)377-6919<br></p>
  <div>
    <div id = "content">
    <table  width = "75%">
      <tr>
        <th>Cart Number</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Client Name</th>
        <th>Underwriter Name</th>
        <th>Total Cost</th>
      </tr>
      <tr ng-repeat="report in reports">
        <td>{{report.cart_number}}</td>
        <td>{{report.start_date}}</td>
        <td>{{report.end_date}}</td>
        <td>{{report.clients_name}}</td>
        <td>{{report.uw_name}}</td>
        <td>${{report.total_cost}}</td>
      </tr>
    </table>
  </div>
      <div id = "editor"></div>
      <button id = "cmd">Generate PDF</button>
  </div>
</div>


  <div>
      <form>
        <label for="startDate">Start Date</label><br>
        <input type="date" name="startDate" ng-model="startDate"><br>
        <label for="endDate">End Date</label><br>
        <input type="date" name="endDate" ng-model="endDate"><br>
        <input type="button" name="getReports" value="Submit" ng-click="getReport()">
      </form>
    </div>
