<!-- <div ng-show="userData[0].permission == 'View All'"> -->
  <div class="searchViewDiv">
    <p>Search by cart number or client name (case sensitive):</p>
    <form ng-submit="searchFunction(search)">
      <input class="searchInput" type="text" name="search" value="" placeholder="Search" ng-model="search">
    </form>
    <p class="yourOtherLeft" ng-if="results.length > 0">Found {{results.length}} result(s) for "{{query}}". <span class="clearSearch" ng-click="clearSearch()">Clear Search</span></p>
    <p class="yourOtherLeft" ng-if="results.length === 0">No results found for "{{query}}".</p>
  </div>
  <div class="searchResults" ng-repeat="item in results">
    <h5>{{item.clients_name}}</h5>
    <p style="margin:auto auto; font-family:Georgia"><span style="margin-right: 10%;">UW: {{item.uw_name}}</span><span style="margin-right: 10%;">Cart #: {{item.cart_number}}</span><span style="margin-right: 10%;">Total-Cost: {{item.total_cost}}</span></p>
  </div>
<!-- </div> -->
