<div ng-show="userData[0].permission == 'Traffic' || 'Administration' || 'View All'">
  <h3 class="center">Traffic</h3>
  <h4 class="pendingContractHeading">Pending Events</h4>
  <p class="" ng-show="pendingContracts.length < 1">None</p>
  <div class="contractsPending" ng-repeat="contract in pendingContracts">
    <div>
      <p class="listOfContracts" ng-click="selectContractFlight(contract.id, contract.event_name)">{{contract.event_name}}</p>
    </div>
  </div>
  <div ng-show="flightInfoExists" class="trafficInfo">
    <h3>{{currentEventName}}</h3>
    <p><span class="textToStandOut">Start:</span> {{start_date}}  -  <span class="textToStandOut">End:</span> {{end_date}}</p>
    <!-- onbeforesave="getCartNum()" -->
    <p>Cart #: <span editable-text="cart_number" onbeforesave="updateCartNum({cart_number: $data})" blur="submit">{{ cart_number || "Not set yet" }}</span></p>
    <!-- This div shows the Traffic Grid informationally (no editing) -->
    <div ng-hide="trafficEditRun" id="trafficViewGrid" class="trafficForm">
      <p>
        <span class="boldFont">Weeks in the rotation:</span>
        <span class="trafficSlot" type="number" ng-model="numWeeks" placeholder="1">
        <span class="boldFont">Total Spots in Flight: {{flightTotal}}</span>
      </p>
      <div ng-repeat="week in weeks">
        <table>
          <th>
            <td class="trafficViewCell">-Totals-</td>
            <td class="trafficViewCell" ng-repeat="day in days">{{day}}</td>
          </th>
          <tr ng-repeat="hour in hours">
            <td>{{hour.fullText}}</td>
            <td class="boldFont">{{totals["week"+week.num][hour.title]}}</td>
            <td ng-repeat="day in days">
              <span class="trafficSlot" type="number" ng-model="week[hour.title][day]" >
            </td>
          </tr>
        </table>
        <p>Week {{week.num}} Total Spots:  {{totals["week"+week.num].total}}</p>
      </div>
    </div>
    <!-- This div shows the Traffic Grid with ability to edit -->
    <div ng-show="trafficEditRun" id="trafficEditGrid" class="trafficForm">
      <p>
        <span class="boldFont">How many weeks in the rotation?</span>
        <input class="trafficSlot" type="number" ng-model="numWeeks" ng-change="updateWeeks(numWeeks, $event)" placeholder="1">
        <span class="boldFont">Total Spots in Flight: {{flightTotal}}</span>
      </p>
      <div ng-repeat="week in weeks">
        <table>
          <th>
            <td>-Totals-</td>
            <td ng-repeat="day in days">{{day}}</td>
          </th>
          <tr ng-repeat="hour in hours">
            <td>{{hour.fullText}}</td>
            <td class="boldFont">{{totals["week"+week.num][hour.title]}}</td>
            <td ng-repeat="day in days">
              <input class="trafficSlot" type="number" ng-model="week[hour.title][day]" ng-change="checkInput(week.num, hour.title, day)" ng-click="incrementCount(week.num, hour.title, day, $event)">
            </td>
          </tr>
        </table>
        <p>Week {{week.num}} Total Spots:  {{totals["week"+week.num].total}}</p>
      </div>
    </div>
    <!-- <p editable-text="cart_number" e-form="textBtnForm" onbeforesave="updateCartNum()" onaftersave="getCartNum()"><span class="textToStandOut">Cart Number: </span>{{cart_number || No Cart #}}</p> -->
    <input class="button" type="button" name="name" value="Confirm Traffic" ng-click="trafficApproval(currentContractId)">
    <button class="button" ng-click="getInvoiceInfo();getInvoice()" id = "cmd">Generate PDF</button>
  </div>
