<h3>Traffic / Run Confirmation</h3>
<div class="form">
  <form class="traffic">
    <input type="text" name="interviews" value="" placeholder="# of interviews">
    <input type="text" name="interviews" value="" placeholder="# of interviews">
    <input type="text" name="social_media_posts" value="" placeholder="# of SM Posts">
    <input type="text" name="interviews" value="" placeholder="# of interviews">
    <input type="text" name="wks_to_run" value="" placeholder="Weeks to run">
    <input type="text" name="total_spots" value="" placeholder="Total spots">
    <input type="text" name="interviews" value="" placeholder="# of interviews">
  </form>
</div>
