<div ng-show="userData[0].permission == 'Traffic' || 'Administration' || 'View All'">
  <h3 class="center">Traffic</h3>
  <h4 class="pendingContractHeading">Pending Events</h4>
  <p class="" ng-show="pendingContracts.length < 1">None</p>
  <div class="contractsPending" ng-repeat="contract in pendingContracts">
    <div>
      <p class="listOfContracts" ng-click="selectContractFlight(contract.id, contract.event_name)">{{contract.event_name}}</p>
    </div>
  </div>
  <div ng-show="flightInfoExists" class="trafficInfo">
    <h3>{{currentEventName}}</h3>
    <p><span class="textToStandOut">Start:</span> {{start_date}}  -  <span class="textToStandOut">End:</span> {{end_date}}</p>
    <!-- onbeforesave="getCartNum()" -->
    <p>Cart #: <span editable-text="cart_number" onbeforesave="updateCartNum({cart_number: $data})" blur="submit">{{ cart_number || "Not set yet" }}</span></p>

    <!-- <p editable-text="cart_number" e-form="textBtnForm" onbeforesave="updateCartNum()" onaftersave="getCartNum()"><span class="textToStandOut">Cart Number: </span>{{cart_number || No Cart #}}</p> -->
    <input class="button" type="button" name="name" value="Confirm Traffic" ng-click="trafficApproval(currentContractId)">
    <button class="button" ng-click="getInvoiceInfo();getInvoice()" id = "cmd">Generate PDF</button>
  </div>

 <!-- <div ng-show="userData[0].permission !== 'Traffic'">
    404
  </div> -->
