<div ng-show="userData[0].permission == 'Underwriter' || 'View All'">
  <h3><strong>New Contract</strong></h3>
  <br>
  <div class="form">
    <form name="master">
      <h3>Event Info</h3>
      <input type="text" name="event" ng-model="event_name" value="" placeholder="Event">
      <select ng-change="getClient()" ng-model="selectedName" ng-options="name for name in clientNameList">
      </select>
    </form>
    <form name="flightInfo">
      <h3>Flight Info</h3>
      <label for="startDate">Start Date</label>
      <input type="date" name="startDate" ng-model="startDate"><br>
      <label for="endDate">End Date</label><br>
      <input type="date" name="endDate" ng-model="endDate"><br>
      <label for="FA">FA</label>
      <input type="checkbox" name="FA" value="FA" ng-model="fa">
      <label for="PSA">PSA</label>
      <input type="checkbox" name="PSA" value="PSA" ng-model="psa">
      <textarea  rows="5" cols="100" placeholder="Special Instructions" ng-model="instructions"></textarea>
      <input type="text" name="discount" value="" ng-model="discount" placeholder="Discounts">
      <input type="text" name="agency_commission" ng-model="agency_commission" value="" placeholder="Agency Commission">
    </form>
  </div>
  <button type="button" ng-click="submitRunSheetEntry($event)" id="submitButton">Submit Contract</button>
  <div id="trafficGrid" class="trafficForm">
    <p>
      <span class="boldFont">How many weeks in the rotation?</span>
      <input class="trafficSlot" type="number" ng-model="numWeeks" ng-change="updateWeeks(numWeeks, $event)" placeholder="1">
      <span class="boldFont">Total Spots in Flight: {{flightTotal}}</span>
    </p>
    <div ng-repeat="week in weeks">
      <table>
        <th>
          <td>-Totals-</td>
          <td ng-repeat="day in days">{{day}}</td>
        </th>
        <tr ng-repeat="hour in hours">
          <td>{{hour.fullText}}</td>
          <td class="boldFont">{{totals["week"+week.num][hour.title]}}</td>
          <td ng-repeat="day in days">
            <input class="trafficSlot" type="number" ng-model="week[hour.title][day]" ng-change="updateTotals(week.num, hour.title, day)" ng-click="incrementCount(week.num, hour.title, day, $event)">
          </td>
        </tr>
      </table>
      <p>Week {{week.num}} Total Spots:  {{totals["week"+week.num].total}}</p>
    </div>
  </div>
  <!-- <div ng-show="userData[0].permission !== 'Underwriter'">
    404
  </div> -->
