<div ng-show="userData[0].permission == 'Underwriter' || 'Administration' || 'View All'">
  <h3>New Contract</h3>
  <div class="successMessage" ng-show="contractSaved">{{eventNameCreated}} was created successfully!</div>
  <form class="form otherLeft">
    <input class="createContract" type="text" name="event" ng-model="event_name" value="" placeholder="Event Name" style="margin-top:15px;">
    <label class="reportLabel" for="client">Choose a client</label>
    <select name="client" class="selectClient" ng-change="getClient()" ng-model="selectedName" ng-options="name for name in clientNameList"></select><br>
    <label class="reportLabel" for="startDate">Start Date</label>
    <md-datepicker ng-model="startDate" md-placeholder="Select Date"></md-datepicker>
    <label class="reportLabel" for="endDate">End Date</label><br>
    <md-datepicker ng-model="endDate" md-placeholder="Select Date"></md-datepicker>
    <br>
    <div>
      <label style="margin: 12px 0 12px 17px;" for="FA">FA</label>
      <input class="createContract" type="checkbox" name="FA" value="FA" ng-model="fa">
      <label for="PSA">PSA</label>
      <input class="createContract" type="checkbox" name="PSA" value="PSA" ng-model="psa">
    </div>
    <input class="shareLine" type="text" name="socialMedia" value="" ng-model="numSocialMedia" placeholder="Social Media">
    <input class="shareLine" type="text" name="interviews" value="" ng-model="numInterviews" placeholder="Interviews">
    <input class="shareLine" type="text" name="discount" value="" ng-model="discount" placeholder="Discounts">
    <input class="shareLine" type="text" name="agency_commission" ng-model="agency_commission" value="" placeholder="Commission">
    <textarea  class="createContract" rows="5" cols="100" placeholder="Special Instructions" ng-model="instructions"></textarea>
    <input class="shareLine" type="text" name="spotRate" value="" ng-model="spot_rate" placeholder="Spot Rate">
    <input class="shareLine" type="text" name="totalCost" value="" ng-model="totalCost" placeholder="Total Cost">
    <br>
    <input class="shareLine" type="text" name="voice_talent" ng-model="talent" value="" placeholder="Voice Talent">
    <input class="shareLine" type="text" name="producer" value="" ng-model="producer" placeholder="Producer" ><br>
    <div style="margin: 12px 0 12px 17px;">
      <b>Spot Length:</b> <input class="createProduction" type="radio" name="spot_length" ng-model = "spot_length" value=":15">15 sec
      <input class="createProduction" type="radio" name="spot_length" ng-model = "spot_length" value=":30">30 sec
      <input class="createProduction" type="radio" name="spot_length" ng-model = "spot_length" value=":60">60 sec
    </div>

    <input class="shareLine" type="text" name="who" value="" ng-model="who" placeholder="Who">
    <input class="shareLine" type="text" name="where" value="" ng-model="site" placeholder="Where">
    <input class="createProduction" type="text" name="for_more_info" ng-model="why" value="" placeholder="For More Info">
    <textarea class="createProduction" name="what" rows="6" cols="30" ng-model = "what" placeholder="What"></textarea>

  </form>
  <br>
  <div id="uwTrafficGrid" class="trafficForm">
    <p>
      <span class="boldFont underlineFont">How many weeks in the rotation?</span>
      <input class="trafficSlot" type="number" ng-model="numWeeks" ng-change="updateWeeks(numWeeks, $event)" placeholder="1">
      <span class="boldFont underlineFont">Total Spots in Flight: {{flightTotal}}</span>
    </p>
    <div ng-repeat="week in weeks">
      <table>
        <th>
          <td>-Totals-</td>
          <td ng-repeat="day in days">{{day}}</td>
        </th>
        <tr ng-repeat="hour in hours">
          <td>{{hour.fullText}}</td>
          <td class="boldFont">{{totals["week"+week.num][hour.title]}}</td>
          <td ng-repeat="day in days">
            <input class="trafficSlot" type="number" ng-model="week[hour.title][day]" ng-change="checkInput(week.num, hour.title, day)" ng-click="incrementCount(week.num, hour.title, day, $event)">
          </td>
        </tr>
      </table>
      <p class="boldFont">Week {{week.num}} Total Spots:  {{totals["week"+week.num].total}}</p>
    </div>
  </div>
  <button type="button" ng-click="submitRunSheetEntry($event)" id="submitButton">Submit Contract</button>
